footer {
    background-color: rgba(0, 0, 0, 0.904);
    font-size: 1.1em;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

footer a:hover {
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 0.8em;
    }
}